# my.ini

# 需要先建立数据库
# create database jiumu_helper character set utf8mb4;
# commit;
[client]
host=127.0.0.1
port=43306
database = jiumu_helper
user = root
password = wawawa
default-character-set = utf8mb4
